<title>Beats by Smooth</title>

<div class="jumbotron">
		<h2>
			<%= image_tag ("smooth.jpg") %>
			Beats by Smooth
		</h2>
</div>

<div id="container">
	<div class="inner">
		<header>
          
          <h2>973 to my current identity.</h2>
        </header>
		
        <section id="downloads" class="clearfix">
          <a href="books.html" id="books" class="button"><span><img src="images/asb-icon.jpg"/>    books</span></a>
          <a href="beats.html" id="beats" class="button"><span>    beats</span></a>
          <a href="projects.html" id="projects" class="button"><span><img src="images/budget.jpg" height="30" width="40"/>    projects</span></a>
        </section>
		
		<div>
			Here's a link to 
			<a href="http://csmooth.bandcamp.com">some CSmooth jams.</a>
			 Marvel in the hits
		</div>
		<br/>
		<br/>
		
		<h3>Mixed Greens</h3>
		<div>
			The Sophomore LP from Junior Year
			<iframe style="border: 0; width: 400px; height: 472px;" src="http://bandcamp.com/EmbeddedPlayer/album=2655787820/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://csmooth.bandcamp.com/album/mixed-greens">Mixed Greens by CSmooth</a></iframe>
		</div>
		
		<br/>
		<br/>
		
		<h3>My Year</h3>
		<div>
			And here's another hit (Barry Bonds)... 
			<iframe style="border: 0; width: 350px; height: 442px;" src="http://bandcamp.com/EmbeddedPlayer/track=4238746387/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/transparent=true/" seamless><a href="http://csmooth.bandcamp.com/track/my-year">My Year by CSmooth</a></iframe>
		</div>
		
		<br/>
		<br/>
		Also, here's a link to my dude's<a href="http://soundoffebruary.com/"> site</a> where I get all my new music.
	
	</div>
</div>